@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: #ffba3a;
    color: whitesmoke;
    padding: 1em 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

i {
    text-decoration: underline;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: #f0f0f0;
}

nav a:hover{
    text-decoration: underline;
}

main {
    padding: 2em;
}

.capitulo {
    margin-bottom: 2em;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.capitulo h2 {
    color: #ffffff;
}

.capitulo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
}

h2#img1 {
    background-image: url(imagens-Copia/imagem-n1.jpg);
    position: center;
    background-size: cover;
}

h2#img2 {
    background-image: url(imagens-Copia/foto-pt1.jpg);
    background-position: center center;
    background-size: cover;
}


h2#img3 {
    background-image: url(imagens-Copia/olho-dela.jpg);
    background-position: center;
    background-size: cover;
}

footer {
    background: #ffba3a;
    color: whitesmoke;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    display: block;
    margin: auto;
}

.final a {
    color: black;
}